<h1>Playlist Info</h1>
<h1>Name: {{name}}</h1>
<h2>Creator: {{username}}</h2>
{{!-- <h2>Length: {{length}}</h2>
<h2>Explicit: {{explicitness}}</h2> --}}
{{#if can_update}}
  <form action="" method="post">
    <h3>Update playlist</h3>
    <div>
      <p>{{message}}</p>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
    </div>
    <fieldset>
      <legend>Public:</legend>
      <div>
        <input type="radio" id="false" name="is_public" value="0" />
        <label for="false">False</label>
      </div>
      <div>
        <input type="radio" id="true" name="is_public" value="1" />
        <label for="true">True</label>
      </div>
    </fieldset>
    <div>
      <input type="submit" value="Update" />
    </div>
  </form>
{{/if}}