<div class='flex flex-row justify-center items-begin relative bg-white dark:bg-gray-800 shadow-md rounded-lg p-6 relative'>
  <div class="content flex flex-col shrink">
    <div class="w-full mb-5">
      <a class="text-blue-500" href="/user">User Home</a>
      <span> | </span>
      <a class="text-blue-500" href="/artist">Artist Home</a>
      <span> | </span>
      <a class="text-blue-500" href="/track">Tracks</a>
      <span> | </span>
      <a class="text-blue-500" href="/playlist">Playlists</a>
    </div>
    <div class='w-full mb-5'>
      <h1 class='text-2xl font-bold'>Playlist Info</h1>
      <h1 class='text-xl font-bold'>Name: {{name}}</h1>
      <h1 class='text-xl font-bold'>Creator: {{username}}</h2>
      <h1 class='text-xl font-bold'>Length: {{length}}</h2>
      <h1 class='text-xl font-bold'>
        Visibility:
        {{#if (demux public)}}
          <span>Public</span>
        {{else}}
          <span>Private</span>
        {{/if}}
      </h1>
      <h1 class='text-xl font-bold'>
        Explicitness: 
        {{#if (demux is_explicit)}}
          <span class='text-red-500'>Explicit</span>
        {{else}}
          <span>Clean</span>
        {{/if}}
      </h1>
    </div>
    {{#if can_update}}
      <div class='w-full mt-5'>
        <div class="text-xl">
          <p>{{message}}</p>
        </div>
        <form action="" method="post">
          <h3 class='font-bold text-2xl' >Update playlist details</h3>
          <div class='w-full p-4 flex flex-col'>
            <div class='flex flex-col w-full items-start'>
              <div class='flex flex-row items-center text-center space-x-5 mt-5 mb-5'>
                <label for="name" class="block text-lg font-medium text-gray-700" >Name:</label>
                <input type="text" maxlength="20" name="name" id="name" class="rounded mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
              </div>
              <fieldset class='w-full flex flex-row space-x-3 justify-start mb-5'>
                <p class="text-lg font-medium text-gray-700">Visibility</p>
                <div>
                  <input type="radio" id="false" name="is_public" value="0" />
                  <label for="false">Private</label>
                </div>
                <div>
                  <input type="radio" id="true" name="is_public" value="1" />
                  <label for="true">Public</label>
                </div>
              </fieldset>
            </div>
            <div>
              <button type="submit" value="Update" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" >Update</button>
            </div>
          </div>
        </form>
      </div>
      <div id="playlist-add" class='w-full mt-5'></div>
      <div class='w-full mt-5'>
        {{> playlist_rem }}
      </div>
    {{/if}}
  </div>
  <div class="w-full grow">
    {{> track_list}}
  </div>
</div>
<meta name="playlist-id" content="{{playlist_id}}">
<div id="user-activity"></div>
<meta name="playlist-id" content="{{playlist_id}}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" defer ></script>
<script src="/javascripts/playlistAddTrackTemplate.js" defer ></script>
<script src="/javascripts/playlistRemoveTrackTemplate.js" defer></script>
<script src="/javascripts/trackListTemplate.js" defer ></script>
<script src="/javascripts/playlistDash.js" defer ></script>