<h1>Dash</h1>
<h1>User: {{username}}</h1>
<h2>name: {{name}}</h2>
<h2>name: {{join_date}}</h2>
<form action="" method="post">
  <h3>Update account details</h3>
  <div>
    <p>{{message}}</p>
  </div>
  <div>
    <label for="name">New username:</label>
    <input type="text" name="username" id="username" />
  </div>
  <div>
    <label for="name">New name:</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <input type="submit" value="Update" />
  </div>
</form>
<div>
  <a href="/user/logout">Logout</a>
</div>
<form action="/user/remove" method="post">
    <div>
        <p>{{message}}</p>
    </div>
    <input type="submit" value="Remove Account" />
</form>